.boxHelper
{
	background-color: #000;
	color:#fff;
	text-align:center;
}

.clearFix{
	clear:both;
}

body{
	background-image: url(../images/brickwall.png);
	font-size:100%;
	max-width:1200px;
}

h1{
	margin-top:0.5em;
	font-family: 'armwrestler';
	font-size:4em;
}

h1 span{
	color:#4e6e5d;
}

ul{
	list-style: none;
}

li{
	text-align: center;
}

a{
	color:black;
	font-family: 'arvo';
	font-size: 3em;
}

.hamb-menu{
	background-color:#4e6e5d;
	border-radius:1000px;
	height: 50px;
	width: 50px;
	margin-top:3em;
}

#top-nav{
	background-color:#d3d3d3;
	position:fixed;
	top:8em;
}

article{
	clear:both;
	margin-top:0.5em;
	font-family: 'arvo regular';
}

article span{
	color:#4e6e5d;
}

#proof-labour{
	margin-top:33em;
}

.title{
	text-align: center;
	margin-top:1em;
	margin-bottom:1em;
	font-family: 'armwrestler';
	font-size: 2em;
}

.line-break{
	height:3px;
	background-color:#4e6e5d;
	clear:both;
}

.gallery-div{
	margin-top:4em;
	max-height:135px;
	overflow: hidden;
	margin-left:3.5%;
}

.gallery-div img:hover{
	position: relative; 
    top: -135px;;
}

#tales-of-justice{
	margin-top:45em;
}

.testimony-pic{
	margin-top:4em;
	margin-bottom: 4em;
}


.quotes{
	font-size:30pt;
}

.quote-name{
	font-size:24pt;
	font-style: italic;
}

.back-to-top{
	clear:both;
	margin-top:5em;
	margin-bottom: 5em;
}

#team-leader-header{
	margin-top:5em;
}

#contact-header{
	margin-top:30em;
}

form{
	margin-top:8em;
}

label{
	font-size:3em;
	font-family:'arvo';
}

input[type="text"]{
	background: transparent;
    border: none;
    width:80%;
    margin-left:10%;
}

input[type="email"]{
	background: transparent;
    border: none;
    width:80%;
    margin-left:10%;
}

textarea{
	background: transparent;
    border: none;
    width:80%;
    margin-left:10%;
}

input[type="submit"]{
	background: transparent;
    border: none;
    font-size:3em;
	font-family:'arvo';
	width:80%;
    margin-left:10%;
}


@font-face {
    font-family: 'armwrestler';
    src: url('../fonts/armwrestler-webfont.woff2') format('woff2'),
         url('../fonts/armwrestler-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arvo regular';
    src: url('../fonts/arvo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvo italic';
    src: url('../fonts/arvo-italic-webfont.woff2') format('woff2'),
         url('../fonts/arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvo bold';
    src: url('../fonts/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arvo bold_italic';
    src: url('../fonts/arvo-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*tablet*/
@media screen and (min-width: 43.75em){

	#top-nav{
	background:transparent;
	position:inherit;
	top:0em;
	font-size:1em;
	}

	nav ul{
		display:block;
	}

	.large-title{
	text-align:center;
	margin-bottom:1em;
	}

	#home{
		margin-top:5em;
	}

	#team{
		margin-top:5em;
	}

	#contact{
		margin-top:5em;
	}

	article{
		font-size:1.5em;
	}

	.gallery-div{
	margin-top:8em;
	max-height:153px;
	overflow: hidden;
	margin-left:0%;
	}

	.gallery-div img:hover{
	position: relative; 
    top: -153px;;
	}

	.testimony-section{
		margin-top: 5em;
		margin-bottom:5em;
	}

	#team-leader-header{
		margin-top:5em;
	}

	#product-research-header{
		margin-top:5em;
	}

	#looking2hire{
		margin-top:2em;
		margin-bottom:5em;
	}

	label{
	font-size:2em;
	font-family:'arvo';
	}

input[type="text"]{
    width:40%;
    margin-left:20%;
}

input[type="email"]{
    width:40%;
    margin-left:20%;
}

textarea{
	background: transparent;
    border: none;
    width:80%;
    margin-left:10%;
}

input[type="submit"]{
    font-size:2em;
	width:80%;
    margin-left:10%;
    margin-top:2em;
    margin-bottom:5em;
}

#detailLabel{
	width:40%;
	margin-left:40%;
	margin-top:2em;
}

}